name: Build & Push to container registry

on:
  release:
    types: [created]
  push:
    branches:
      - "main"

jobs:
  docker:
    uses: kagchi/workflows/.github/workflows/docker-build.yaml@main
    permissions:
      contents: read
      packages: write
    secrets: inherit
    with:
      PLATFORMS: "linux/amd64"